<form class="col s6 form" method="POST" action="/send">
    <div class="row content">
        <h2 class="title">Contact Us</h2>
        <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="username">
            <label for="name">Name</label>
        </div>
        <div class="input-field col s12">
            <input id="telephone" type="text" class="validate" name="telephone">
            <label for="telephone">Telephone</label>
        </div>
        <div class="input-field col s12">
            <input id="password" type="email" class="validate" name="email">
            <label for="password">Email</label>
        </div>
        <div class="input-field col s12">
            <p>Please Describe your issue and we'd be glad to Contact our developers for inquiry ? </p>
            <span>For more see about our services</span>
            <textarea id="textarea1" class="materialize-textarea" name="message" placeholder="Enter message here"></textarea>
        </div>
        <button type="submit" class="button">Send message</button>
    </div>

    <div class="row info">
        <h1>More information</h1>
        <p class="center-align">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nemo numquam atque fuga
            vitae obcaecati quod beatae sequi hic repellendus non voluptates ex in. Aliquam magni id tempora beatae
            provident!</p>
    </div>
</form>